
$bgColorPrimaryDark: #14a85c;
$bgColorPrimaryLight: #86ea8f;
$bgColorPrimaryExtraLight: #35dc44;
$bgColorPrimaryGrey: #4e4e4e;
$bgColorSecondaryGrey: #ccd3dd;
$bgColorSecondary: #e84c3d;
$bgColorThird: #f6f6f6;
$bgColorFour: #28c74e;
$bgColorFaq: #eaedf2;
$borderAdv: #ccc;
$borderHow: #666;
$borderHowDot: #f2c40e;
$bgColorY: #dab62c;
$bgTooltip: #fafafa;
/*------------- Text -------------------*/
$colorHeaders: #003300;
$colorTextDark: $bgColorPrimaryGrey;
$colorTextPrimary: #777777;
$colorTextSecondary: #002157;
$colorTextThird: #2a396a;
$colorTextFour: #343434;
$colorTextHint: #cfd0d3;
$colorTextCurrency: #292929;
$colorTextInput: #9fa1a2;
$colorTextSelect: #939191;
$colorLabelDark: #000;
$colorLabelLight: #242425;
$colorLabelLightSecond: #9fa1a2;
$colorPagination: #535155;
$colorTextInfo: #fff;
/*------------- end Text -------------------*/

/*------------- btns -------------------*/
$btnColorSecondary: #fab916;
$btnBorderColor: #fff;
$btnHoverBorderColor: #002157;
$colorFormBorder: #8a8585;
$colorError: #fdedeb;
$colorFocusBorder: $bgColorPrimaryDark;
$colorFocusBg: $bgColorPrimaryLight;
/*------------- end btns -------------------*/

/*------------- Social -------------------*/
$colorSocialPn: $bgColorSecondary;
$colorSocialTw: #28c3ff;
$colorSocialFb: #496194;
/*------------- end Social -------------------*/