// Variables

//Global
$only-mobile-width: 991px;
$sm-width: 768px;
$md-width: 992px;
$lg-width: 1200px;

$mobile-bg: none;
$tablet-bg: none;
$desktop-bg: none;

// Fonts
$font-bold: 'montserrat-bold', sans-serif;
$font-semibold: 'montserrat-semibold', sans-serif;
$font-regular: 'montserrat-regular', sans-serif;
$font-light: 'montserrat-light', sans-serif;
$font-awesome: FontAwesome;